.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10rem;
    height: 3rem;
}
.header-menu{
    display: flex;
    color:white;
    text-decoration: none;
    list-style: none;
    gap: 2rem;
}
.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}
